<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Adapte-moi si tu peux - Recherche</title>
    <link rel="stylesheet" href="../../statics/style.css">
</head>
<body>
    <header class="header">
        <div class="container">
            <h1 class="logo"><a href="/"></a>🎥📚 Adapte-moi si tu peux</a></h1>
            <nav class="nav">
                <a href="adaptation.html">Qu'est ce qu'une adaptation ?</a>
                <a href="top.html">Les livres les plus recherchés</a>
                <a href="about.html">A propos de cette application</a>
            </nav>
        </div>
    </header>

    <main class="main-content">
        <div class="container">
            <section class="info-section">
                <h3>Qu’est-ce qu’une adaptation ?</h3>
                <p>Une adaptation est une œuvre cinématographique basée sur un livre ou une autre œuvre littéraire. Découvrez les liens fascinants entre littérature et cinéma ici !</p>
            </section>
        </div>
    </main>

    <footer class="footer">
        <div class="container">
            <p>&copy; 2025 Adapte-moi si tu peux. Tous droits réservés.</p>
        </div>
    </footer>
</body>
</html>
