<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Adapte-moi si tu peux - Recherche</title>
    <link rel="stylesheet" href="../../statics/style.css">
    <!-- Il faudra remplacer tout ça par du Jinja avant la fin du projet -->
    <!-- <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}"> -->
</head>
<body>
    <header class="header">
        <button type="button" class="btn btn-primary"><a href="seconnecter.html">Se connecter</a></button>
        <div class="container">
            <h1 class="logo"><a href="index.html">🎥📚 Adapte-moi si tu peux</a></h1>
            <nav class="nav">
                <a href="adaptation.html">Qu'est ce qu'une adaptation ?</a>
                <a href="top.html">Les livres les plus recherchés</a>
                <a href="about.html">A propos de cette application</a>
            </nav>
        </div>
    </header>

    <main class="main-content">
        <div class="container">
            <h2 class="title">Rechercher un livre adapté en film</h2>
            <form action="/search" method="POST" class="search-form">
                <input type="text" name="query" placeholder="Entrez le titre d'un livre..." required class="search-input">
                <button type="submit" class="search-button">🔍 Rechercher</button>
            </form>

            <div class="emoji-display">
                <span class="emoji">📖</span>
                <span class="emoji">➡️</span>
                <span class="emoji">🔍</span>
                <span class="emoji">➡️</span>
                <span class="emoji">🎥</span>
            </div>
            
        </div>
    </main>

    <footer class="footer">
        <div class="container">
            <p>&copy; 2025 Adapte-moi si tu peux. Tous droits réservés.</p>
        </div>
    </footer>
    <script src="../../statics/script.js"></script>
</body>
</html>
