<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Adapte-moi si tu peux - Recherche</title>
    <link rel="stylesheet" href="../../statics/style.css">
</head>
<body>
    <header class="header">
        <button type="button" class="btn btn-primary"><a href="seconnecter.html">Se connecter</a></button>
        <div class="container">
            <h1 class="logo"><center><a href="{{ url_for('home') }}">🎥 Adapte-moi si tu peux ! 📚</a></center></h1>
            <nav class="nav">
                <a href="{{ url_for('adaptation') }}">Qu'est-ce qu'une adaptation ?</a>
                <a href="{{ url_for('top') }}">Explorer les collections</a>
               <a href="{{ url_for('about') }}">À propos de cette application</a>
            </nav>
        </div>
    </header>

    <main class="main-content">
        <div class="container">
            <section class="info-section">
                <h3>Bienvenue sur votre profil !</h3>
                <p>(Gestion du profil ici et joli graphique)</p>
            </section>
        </div>
    </main>

    <footer class="footer">
        <div class="container">
            <p>&copy; 2025 Adapte-moi si tu peux. Tous droits réservés.</p>
        </div>
    </footer>
</body>
</html>