{% extends "base.html" %}

{% block title %}Index films - Adapte-moi{% endblock %}

{% block content %}
<div class="container">
    <section class="info-section">
        <div>
            <h2 class="title">Liste des films adaptés de livres</h2>
            <div id="dialog">
                <div class="list_films">
                    {% for film in films.items %}
                    
                     <!-- si l'utilisateur est connecté on lui permet d'ajouter le film à sa collection -->
                        {% if current_user.is_authenticated %}
                        <p><i>{{ film.title }}</i>, réalisé par {{ film.director }} en {{ film.release_year.strftime('%Y') }}
                            <a href="{{ film.url_wikidata }}">{{ film.id_wikidata }}</a> <a href="/ajouter_collection/{{film.id}}">(+)</a></p>
                       
                     <!-- sinon on le redirige vers la connection pour qu'il se connecte avant de pouvoir ajouter les films -->

                        {% else %}
                        <p><i>{{ film.title }}</i>, réalisé par {{ film.director }} en {{ film.release_year.strftime('%Y') }}
                            <a href="{{ film.url_wikidata }}">{{ film.id_wikidata }}</a><a href="{{ url_for('login') }}">(+)</a></p>

                                
                            
                        {% endif %}
                    
                    {% endfor %}
                </div>
            </div>
            </br>
            <div>
                <!-- ici c'est pour gérer la navigation dans l'index -->

                {% if films.has_prev %}
                    <a href="{{ url_for('list_films', page=films.prev_num) }}">Précédent</a>
                {% endif %}
                Page {{ films.page }} / {{ films.pages }}
                {% if films.has_next %}
                    <a href="{{ url_for('list_films', page=films.next_num) }}">Suivant</a>
                {% endif %}
            </div>
        </div>
    </section>
</div>
{% endblock %}
